
<div class="title-container text-center">
    <h3 class="title-custom">Registrar Invernadero</h3>
  </div>
  
  <!-- Registrar Invernadero -->
  <div class="container-custom d-flex justify-content-center align-items-center vh-100">
    <div class="form-container text-center">
      
      <div class="form-group mt-3">
        <label class="label-custom">ID:</label>
        <input type="text" id="invernadero-id" placeholder="ID" class="input-custom mx-auto w-80">
  
        <label class="label-custom" style="margin-top: 20px;">Tipo:</label>
        <select id="tipo-invernadero" class="input-custom mx-auto w-80">
          <option>Tipo</option>
          <option>Pequeño</option>
          <option>Mediano</option>
          <option>Grande</option>
        </select>
      </div>
  
      <button class="btn-register mt-3">Registrar</button>
      <button class="btn-cancel mt-4">Cancelar</button>
    </div>
  </div>
  
