
<div>
  <div class="container d-flex justify-content-center align-items-center " style="text-align: center;">
    <div class="mb-3" style="margin-top: 30px;">
      <h2 class="fw-bold" style="color: #4a5c4b;font-size: 40px;">Invernaderos</h2>
  </div>
 </div>

 <div class="row justify-content-center">
  <div class="col-10 col-md-8 col-lg-6">
    <div class="card" style="background-color: rgba(255, 255, 255, 0.4); position: relative;">
      <div class="card-body">
        <div class="input-group mb-0">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="searchTerm"
            (keydown.enter)="filterUsersBySearch()"
            (ngModelChange)="onInputChange()"
            (focus)="onFocus()"
            (blur)="onBlur()"
            (keydown)="onKeyDown($event)"
            placeholder="Buscar invernaderos por id o propietario"
            aria-label="Buscar"
          />
        <div>
          <button class="btn btn-outline-secondary" type="button" (click)="filterUsersBySearch()">
            <i class="bi bi-search"></i>
          </button>
        </div>  
          <!-- Lista de sugerencias -->
          <ul
            *ngIf="showSuggestions && filteredSuggestions.length > 0"
            class="suggestions-list list-group"
            style="position: absolute; top: 100%; left: 0; right: 0; z-index: 999;"
          >
            <li
              class="list-group-item list-group-item-action"
              *ngFor="let suggestion of filteredSuggestions; let i = index"
              [class.active]="i === selectedSuggestionIndex"
              (click)="selectSuggestion(suggestion)"
            >
              {{ suggestion }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

 <div style="justify-content: center; justify-items: center;margin-bottom: 50px;margin-top: 15px;">
 <div class="b">
  <label style="text-align: center;color: red;">{{Mensaje}}</label>
 <div class="d-flex flex-wrap gap-3" style="margin-top:5px;">
      

  <div class="text-center mt-4" *ngIf="invernaderosFiltrados.length === 0 && searchTerm.trim() !== ''">
    <h3 class="text-muted">😕 No se encontraron invernaderos con ese ID o usuario</h3>
  </div>

  @for (invernaderos of invernaderosFiltrados; track invernaderos) {
    <app-carta-planta
    imageSrc="Icons/planta2.jpg"
      title={{invernaderos.idInvernadero}}
      owner={{invernaderos.usuCorreo}}>
    </app-carta-planta>
  }
  </div>

</div>
</div>
  
<button class="fixed-button" (click)="RegInv()">
  <img src="Icons/btnAnadir.png">
</button>

