
<div>
  <div class="container d-flex justify-content-center align-items-center " style="text-align: center;">
    <div class="mb-3" style="margin-top: 40px;">
      <h2 class="fw-bold" style="color: #2b692a;font-size: 40px;">Invernaderos</h2>
 
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar" style="width: 300px;">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
  </div>
 </div>

 <div style="justify-content: center; justify-items: center;margin-bottom: 50px;margin-top: 15px;">
 <div class="b">
 <div class="d-flex flex-wrap gap-3" style="margin-top:5px;">
      
  <app-carta-planta
  imageSrc="icons/planta.png" 
    title="ABV78f" 
    owner="N/A">
  </app-carta-planta>

<app-carta-planta
imageSrc="icons/planta.png" 
  title="ABV78f" 
  owner="N/A">
</app-carta-planta>
        
<app-carta-planta
imageSrc="icons/planta.png" 
  title="ABV78f" 
  owner="N/A">
</app-carta-planta>

<app-carta-planta
imageSrc="icons/planta.png" 
  title="ABV78f" 
  owner="N/A">
</app-carta-planta>

<app-carta-planta
imageSrc="icons/planta.png" 
  title="ABV78f" 
  owner="N/A">
</app-carta-planta>


  </div>

</div>
</div>
  
<button class="fixed-button">
  <img src="icons/agregar.png">
</button>

