
<div>
  <div class="container d-flex justify-content-center align-items-center " style="text-align: center;">
    <div class="mb-3" style="margin-top: 40px;">
      <h2 class="fw-bold" style="color: #2b692a;">Invernaderos</h2>
 
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar" style="width: 300px;">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
  </div>
 </div>

 <div style="justify-content: center; justify-items: center;margin-bottom: 30px;">
 <div class="b">
 <div class="d-flex flex-wrap gap-3" style="margin-top:15px;">
      

        <div class="a">
            <div class="glass-form p-4">
            <img src="icons/planta.png"/>
            <br>
            <div class="mb-3">
            <label>AAAAAA</label>
            <p>Owner: A/N</p>
          </div>
          </div>
        </div>
        <div class="a">
          <div class="glass-form p-4">
            <img src="icons/planta.png"/>
            <br>
            <div class="mb-3">
            <label>AAAAAA</label>
            <p>Owner: A/N</p>
          </div>
          </div>

        </div>
        <div class="a">
          <div class="glass-form p-4">
            <img src="icons/planta.png"/>
            <br>
            <div class="mb-3">
            <label>AAAAAA</label>
            <p>Owner: A/N</p>
          </div>
          </div>
        </div>


        <div class="a">
          <div class="glass-form p-4">
          <img src="icons/planta.png"/>
          <br>
          <div class="mb-3">
          <label>AAAAAA</label>
          <p>Owner: A/N</p>
        </div>
        </div>
      </div>
      <div class="a">
        <div class="glass-form p-4">
          <img src="icons/planta.png"/>
          <br>
          <div class="mb-3">
          <label>AAAAAA</label>
          <p>Owner: A/N</p>
        </div>
        </div>

      </div>
      <div class="a">
        <div class="glass-form p-4">
          <img src="icons/planta.png"/>
          <br>
          <div class="mb-3">
          <label>AAAAAA</label>
          <p>Owner: A/N</p>
        </div>
        </div>
      </div>

        


  </div>

</div>

  


</div>

  