<div class="container">
  <div class="title-container text-center" style="padding-bottom: 20px;">
    <h3 class="title-custom">Registrar Invernadero</h3>
  </div>
  <div class="container-custom d-flex justify-content-center align-items-center" style="margin-top: 30px;">
    <div class="form-container text-center">
      <img class="img-fluid" src="Icons/Inv.png" alt="imagen de invernadero" style="height: 200px; width: 200px;">
      <div class="form-group mt-3">
        <label class="label-custom">ID:</label>
        <input type="text" [(ngModel)]="idInvernadero" placeholder="ID" class="input-custom mx-auto w-80">

        <label class="label-custom" style="margin-top: 20px;">Tipo:</label>
        <select [(ngModel)]="tipoInvernadero" class="input-custom mx-auto w-80">
          <option [ngValue]="null">Seleccionar tipo</option>
          <option [ngValue]="1">1</option>
          <option [ngValue]="2">2</option>
          <option [ngValue]="3">3</option>
        </select>
      </div>

      <p *ngIf="mensajeError" class="text-danger mt-2">{{ mensajeError }}</p>

      <button class="btn-register mt-3" (click)="registerInvernadero()">Registrar</button>
      <button class="btn-cancel mt-4" (click)="Back()">Cancelar</button>
    </div>
  </div>
</div>