.admin-item {
  background-color: #f3f4f6; /* tono claro */
  border-radius: 12px;
  transition: all 0.2s ease-in-out;
}
.admin-item:hover {
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transform: scale(1.01);
}

body{
  background-image:url(../../../assets/Fondo.png) ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}