<!doctype html>
<html lang="en">
<head>
  
  <meta charset="utf-8">
  <title>Login</title>
</head>
<body background="icons/Fondo.png" Calss="a">


  <div class="formu">
  <img src="icons/logo.jpg" class="logo">

    <h2>Iniciar Sesion</h2>

    <label>¡Bienvenido de nuevo! ingresa tu cuenta para continuar</label>

    <div>
      <h3>Correo:</h3>
      <input>

      <h3>Contraseña:</h3>
      <input>
    </div>

    <button>Iniciar Sesion</button>
    <br>
    <label>¿Olvidaste tu contraseña?</label>
    <br>
    <label>Recupera tu contraseña</label>

  </div>
  
</body>
</html>