.formu{
    background-color: #E6E6E6;
    text-align: center;
    align-items: center;
    width: 500px;
    height: 700px;
    justify-content: center;
}


.a{
    justify-content: center;
    text-align: center;
    align-items: center;
}