
<div>
  <div Calss="a">

  <div class="formu">
    <div class="glass-form p-4">
  <img src="icons/logo.png" style="width: 230px;height: auto;">

    <h2 class="fw-bold" style="margin-top: 15px;">Iniciar Sesion</h2>

    <label class="text-muted">¡Bienvenido de nuevo! ingresa tu cuenta para continuar</label>

    <div class="mb-3" style="margin-top: 15px;">
      <label class="form-label fw-bold">Correo:</label>
      <input class="form-control">

      <label class="form-label fw-bold">Contraseña:</label>
      <input class="form-control" >
    </div>

    <button class="btn btn-primary" style="margin-top: 15px;">Iniciar Sesion</button>
    <br>
    <label class="text-muted">¿Olvidaste tu contraseña?</label>
    <br>
    <label class="fw-bold">Recupera tu contraseña</label>

  </div>
</div>
</div>
</div>
